@model webapp.Models.Tokhai

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h1>Xóa tờ khai</h1>
    <hr />
    <dl class="row card">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dinhungdau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dinhungdau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trieuchung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trieuchung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Txnguoibenh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Txnguoibenh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Txnguoinuocbenh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Txnguoinuocbenh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nguoicobieuhien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nguoicobieuhien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MakhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MakhNavigation.Tenkh)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Matokhai" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-warning">Back to List</a>
    </form>
</div>
