@model webapp.Models.Tkadmin

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Chi tiết tài khoản</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tài khoản
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tk)
        </dd>
        <dt class="col-sm-2">
            Mật khẩu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mk)
        </dd>
        <dt class="col-sm-2">
            Họ tên
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hoten)
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Tk">Edit</a> |
    <a class="btn btn-warning" asp-action="Index">Back to List</a>
</div>
