<!-- Banner Section start here -->
<section class="banner-section home-3">
    <div class="banner-area">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-6 col-12">
                    <div class="content-part">
                        <div class="banner-content">
                            <h2>COVID-19 Tracker</h2>
                            <h4>Tatal Confirmed Corona Cases</h4>
                            <h2 id="case" class="count-people">521618000</h2>
                            <ul class="lab-ul">
                                <li>Active cases <span id="active_case"class="count-people">17700000</span></li>
                                <li>Recovered cases <span id="recover_case" class="count-people">520000000</span></li>
                                <li>Deaths <span id="death_case" class="count-people">6000000</span></li>
                            </ul>
                            <a href="#" class="lab-btn style-2"><span>Meet the doctor</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="banner-round">
                        <img src="assets/images/banner/home-3/01.png" alt="banner">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section ending here -->
<!-- about section start here -->
<section class="about-section style-3 bg-about padding-tb">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                <div class="about-thumb">
                    <img src="assets/images/about/home-3/01.png" alt="about">
                </div>
            </div>
            <div class="col-lg-6 col-12 wow fadeInUp" data-wow-delay="0.4s">
                <div class="about-content">
                    <div class="ab-title">
                        <span>Virus lây lan như thế nào</span>
                        <h3>Làm thế nào coronavirus lây nhiễm</h3>
                        <p> COVID-19 lây lan khi người nhiễm bệnh thở ra các giọt bắn và các hạt rất nhỏ có chứa vi-rút. Những giọt bắn và hạt này có thể bị người khác hít vào hoặc rơi vào mắt, mũi hoặc miệng của họ. Trong một số trường hợp, họ có thể gây ô nhiễm các bề mặt họ chạm vào.</p>
                        <ul class="lab-ul">
                            <li>
                                <div class="ab-thumb">
                                    <img src="assets/images/about/icon/home-3/01.jpg" alt="ab-thumb">
                                </div>
                                <div class="ab-content">
                                    <h6>Liên hệ với con người</h6>
                                    <p>Liên hệ với chúng tôi khi bạn mắc phải một trong các triệu chứng có nguy cơ mắc phải virus.</p>
                                </div>
                            </li>
                            <li>
                                <div class="ab-thumb">
                                    <img src="assets/images/about/icon/home-3/02.jpg" alt="ab-thumb">
                                </div>
                                <div class="ab-content">
                                    <h6>Truyền không khí</h6>
                                    <p>Hít vào không khí khi ở gần người bị nhiễm bệnh đang thở ra những giọt nhỏ và các hạt có chứa vi-rút.</p>
                                </div>
                            </li>
                            <li>
                                <div class="ab-thumb">
                                    <img src="assets/images/about/icon/home-3/03.jpg" alt="ab-thumb">
                                </div>
                                <div class="ab-content">
                                    <h6>Các đối tượng bị ô nhiễm</h6>
                                    <p>Đa số người lớn tuổi và người mắc bệnh.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about section start here -->
<!-- Service Section Start Here -->
<section class="service-section home-3 padding-tb" style="background-image: url(assets/css/bg-image/service-bg.jpg);">
    <div class="container">
        <div class="section-header wow fadeInUp" data-wow-delay="0.3s">
            <h2>Các triệu chứng nhiễm vi-rút corona</h2>
           
        </div>
        <div class="section-wrapper">
            <div class="row no-gutters justify-content-center">
                <div class="col-md-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item style-2">
                        <div class="service-inner">
                            <div class="service-thumb">
                                <img src="assets/images/service/home-3/service/01.jpg" alt="service">
                            </div>
                            <div class="service-content">
                                <h4>Ho và hắt hơi</h4>
                                <p>Tìm kiếm sự chăm sóc y tế ngay lập tức nếu bạn có các triệu chứng nghiêm trọng. Luôn gọi điện trước khi đến gặp bác sĩ hoặc cơ sở y tế của bạn. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item style-2">
                        <div class="service-inner">
                            <div class="service-thumb">
                                <img src="assets/images/service/home-3/service/02.jpg" alt="service">
                            </div>
                            <div class="service-content">
                                <h4>Sốt nóng</h4>
                                <p>Tìm kiếm sự chăm sóc y tế ngay lập tức nếu bạn có các triệu chứng nghiêm trọng. Luôn gọi điện trước khi đến gặp bác sĩ hoặc cơ sở y tế của bạn. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item style-2">
                        <div class="service-inner">
                            <div class="service-thumb">
                                <img src="assets/images/service/home-3/service/03.jpg" alt="service">
                            </div>
                            <div class="service-content">
                                <h4>Đau đầu mạnh</h4>
                                <p>Tìm kiếm sự chăm sóc y tế ngay lập tức nếu bạn có các triệu chứng nghiêm trọng. Luôn gọi điện trước khi đến gặp bác sĩ hoặc cơ sở y tế của bạn. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item style-2">
                        <div class="service-inner">
                            <div class="service-thumb">
                                <img src="assets/images/service/home-3/service/04.jpg" alt="service">
                            </div>
                            <div class="service-content">
                                <h4>Khó thở</h4>
                                <p>Tìm kiếm sự chăm sóc y tế ngay lập tức nếu bạn có các triệu chứng nghiêm trọng. Luôn gọi điện trước khi đến gặp bác sĩ hoặc cơ sở y tế của bạn. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item style-2">
                        <div class="service-inner">
                            <div class="service-thumb">
                                <img src="assets/images/service/home-3/service/05.jpg" alt="service">
                            </div>
                            <div class="service-content">
                                <h4>Sự hoang mang</h4>
                                <p>Tìm kiếm sự chăm sóc y tế ngay lập tức nếu bạn có các triệu chứng nghiêm trọng. Luôn gọi điện trước khi đến gặp bác sĩ hoặc cơ sở y tế của bạn. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item style-2">
                        <div class="service-inner">
                            <div class="service-thumb">
                                <img src="assets/images/service/home-3/service/06.jpg" alt="service">
                            </div>
                            <div class="service-content">
                                <h4>Viêm họng</h4>
                                <p>Tìm kiếm sự chăm sóc y tế ngay lập tức nếu bạn có các triệu chứng nghiêm trọng. Luôn gọi điện trước khi đến gặp bác sĩ hoặc cơ sở y tế của bạn. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service Section Ending Here -->
<!-- about section start here -->
<section class="about-section style-3 bg-about padding-tb">
    <div class="container">
        <div class="row justify-content-center align-items-center flex-row-reverse">
            <div class="col-lg-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                <div class="about-thumb">
                    <img src="assets/images/about/home-3/02.png" alt="about">
                </div>
            </div>
            <div class="col-lg-6 col-12 wow fadeInUp" data-wow-delay="0.4s">
                <div class="about-content">
                    <div class="ab-title">
                        <span>Giới thiệu (2022-nCoV)</span>
                        <h3>Phòng ngừa Coronavirus</h3>
                        <p>Bảo vệ bản thân và mọi người xung quanh bằng cách tìm hiểu thông tin và thực hiện các biện pháp phòng ngừa thích hợp. Làm theo khuyến cáo của cơ quan y tế địa phương.</p>
                        <ul class="lab-ul">
                            <li>
                                <div class="ab-thumb">
                                    <img src="assets/images/about/icon/home-3/04.jpg" alt="ab-thumb">
                                </div>
                                <div class="ab-content">
                                    <h6>Rửa tay trong 20 giây</h6>
                                    <p>Thường xuyên rửa tay. Dùng xà phòng và nước hoặc dung dịch rửa tay chứa cồn.</p>
                                </div>
                            </li>
                            <li>
                                <div class="ab-thumb">
                                    <img src="assets/images/about/icon/home-3/05.jpg" alt="ab-thumb">
                                </div>
                                <div class="ab-content">
                                    <h6>Che mũi và miệng khi hắt hơi</h6>
                                    <p>Khi ho hoặc hắt hơi, hãy che mũi và miệng bằng khăn giấy hoặc khuỷu tay.</p>
                                </div>
                            </li>
                            <li>
                                <div class="ab-thumb">
                                    <img src="assets/images/about/icon/home-3/06.jpg" alt="ab-thumb">
                                </div>
                                <div class="ab-content">
                                    <h6>Đeo khẩu trang </h6>
                                    <p>Đeo khẩu trang ở nơi công cộng, nhất là khi ở trong nhà hoặc khi không thể giữ khoảng cách.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about section start here -->
<!-- Team Member Section Start here -->
<div class="team-section home-2 padding-tb" style="background-image: url(assets/css/bg-image/service-bg.jpg);">
    <div class="container">
        <div class="section-header wow fadeInUp" data-wow-delay="0.3s">
            <h2>Gặp gỡ các bác sĩ tốt nhất của chúng tôi</h2>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
        </div>
        <div class="team-area">
            <div class="row justify-content-center align-items-center">
                <div class="col-xl-4 col-md-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item style-2">
                        <div class="team-item-inner">
                            <div class="team-thumb">
                                <img src="assets/images/team/01.jpg" alt="team-membar">
                            </div>
                            <div class="team-content">
                                <h5 class="member-name">Dorothy M. Nickell</h5>
                                <span class="member-dagi">Bác sĩ chuyên khoa cổ họng</span>
                                <p class="member-details">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                                <ul class="icon-style-list lab-ul">
                                    <li><i class="icofont-phone"></i><span>+880 1234 567 890</span></li>
                                    <li><i class="icofont-envelope"></i><span>d.m.nickell@gmail.com</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-12 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="team-item style-2">
                        <div class="team-item-inner">
                            <div class="team-thumb">
                                <img src="assets/images/team/02.jpg" alt="team-membar">
                            </div>
                            <div class="team-content">
                                <h5 class="member-name">Billie R. Courtney</h5>
                                <span class="member-dagi">Bác sĩ tim mạch</span>
                                <p class="member-details">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                                <ul class="icon-style-list lab-ul">
                                    <li><i class="icofont-phone"></i><span>+880 1234 567 890</span></li>
                                    <li><i class="icofont-envelope"></i><span>b.r.courtney@gmail.com</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-12 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item style-2">
                        <div class="team-item-inner">
                            <div class="team-thumb">
                                <img src="assets/images/team/03.jpg" alt="team-membar">
                            </div>
                            <div class="team-content">
                                <h5 class="member-name">Courtney A. Smith</h5>
                                <span class="member-dagi">Liệu pháp phục hồi chức năng</span>
                                <p class="member-details">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                                <ul class="icon-style-list lab-ul">
                                    <li><i class="icofont-phone"></i><span>+880 1234 567 890</span></li>
                                    <li><i class="icofont-envelope"></i><span>c.a.smith@gmail.com</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team Member Section Ending here -->
<!-- safe actions section start here -->
<section class="safe-actions style-2 padding-tb bg-action">
    <div class="container">
        <div class="section-header wow fadeInUp" data-wow-delay="0.3s">
            <h2>Cách rửa tay</h2>
            <p>Dynamically formulate fully tested catalysts for change via focused methods of empowerment Assertively extend alternative synergy and extensive web services.</p>
        </div>
        <div class="row justify-content-center align-items-center" style=" counter-reset: topx;">
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                <div class="safe-item">
                    <div class="safe-thumb">
                        <img src="assets/images/safe/home-3/01.jpg" alt="safe">
                    </div>
                    <div class="safe-content">
                        <h6>Tay ướt</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                <div class="safe-item">
                    <div class="safe-thumb">
                        <img src="assets/images/safe/home-3/02.jpg" alt="safe">
                    </div>
                    <div class="safe-content">
                        <h6>Áp dụng xà phòng</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                <div class="safe-item">
                    <div class="safe-thumb">
                        <img src="assets/images/safe/home-3/03.jpg" alt="safe">
                    </div>
                    <div class="safe-content">
                        <h6>Xoa lòng bàn tay vào lòng bàn tay</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                <div class="safe-item">
                    <div class="safe-thumb">
                        <img src="assets/images/safe/home-3/04.jpg" alt="safe">
                    </div>
                    <div class="safe-content">
                        <h6>Tạo bọt cho cả hai bàn tay</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                <div class="safe-item">
                    <div class="safe-thumb">
                        <img src="assets/images/safe/home-3/05.jpg" alt="safe">
                    </div>
                    <div class="safe-content">
                        <h6>Chà giữa các ngón tay của bạn</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                <div class="safe-item">
                    <div class="safe-thumb">
                        <img src="assets/images/safe/home-3/06.jpg" alt="safe">
                    </div>
                    <div class="safe-content">
                        <h6>Xoa lưng các ngón tay vào lòng bàn tay đối phương</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                <div class="safe-item">
                    <div class="safe-thumb">
                        <img src="assets/images/safe/home-3/07.jpg" alt="safe">
                    </div>
                    <div class="safe-content">
                        <h6>Sạch ngón tay cái</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                <div class="safe-item">
                    <div class="safe-thumb">
                        <img src="assets/images/safe/home-3/08.jpg" alt="safe">
                    </div>
                    <div class="safe-content">
                        <h6>Rửa móng tay và đầu ngón tay</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                <div class="safe-item">
                    <div class="safe-thumb">
                        <img src="assets/images/safe/home-3/09.jpg" alt="safe">
                    </div>
                    <div class="safe-content">
                        <h6>Rửa tay</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                <div class="safe-item">
                    <div class="safe-thumb">
                        <img src="assets/images/safe/home-3/10.jpg" alt="safe">
                    </div>
                    <div class="safe-content">
                        <h6>Lau khô bằng khăn dùng một lần</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                <div class="safe-item">
                    <div class="safe-thumb">
                        <img src="assets/images/safe/home-3/11.jpg" alt="safe">
                    </div>
                    <div class="safe-content">
                        <h6>UDùng khăn lau vòi</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                <div class="safe-item">
                    <div class="safe-thumb">
                        <img src="assets/images/safe/home-3/12.jpg" alt="safe">
                    </div>
                    <div class="safe-content">
                        <h6>Bàn tay của bạn sạch sẽ</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- safe actions section ending here -->
<!-- Service Section Start Here -->
<section class="service-section home-3 style-2 padding-tb" style="background-image: url(assets/css/bg-image/service-bg.jpg);">
    <div class="container">
        <div class="section-header wow fadeInUp" data-wow-delay="0.3s">
            <h2>Phòng ngừa Coronavirus Covid-19</h2>
            <p> Dynamically formulate fully tested catalysts for change via focused methods of empowerment Assertively extend alternative synergy and extensive web services.</p>
        </div>
        <div class="section-wrapper">
            <div class="row no-gutters">
                <div class="col-md-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-left">
                        <h3>Bạn nên làm gì</h3>
                        <div class="row no-gutters justify-content-center">
                            <div class="col-12">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="assets/images/service/home-3/01.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>Rửa nước rửa tay của bạn</h4>
                                            <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="assets/images/service/home-3/02.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>Đeo khẩu trang</h4>
                                            <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="assets/images/service/home-3/03.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>Che miệng lại khi ho</h4>
                                            <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="assets/images/service/home-3/04.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>Kiểm tra cơ thể của bạn thường xuyên</h4>
                                            <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="service-right">
                        <h3>Những gì bạn nên tránh</h3>
                        <div class="row no-gutters justify-content-center">
                            <div class="col-12">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="assets/images/service/home-3/05.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>
                                                Tránh tiếp xúc với người bệnh
                                            </h4>
                                            <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="assets/images/service/home-3/06.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>
                                                Tránh tiếp xúc với động vật
                                            </h4>
                                            <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="assets/images/service/home-3/07.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>Tránh những nơi đông đúc</h4>
                                            <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="assets/images/service/home-3/08.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>Các đối tượng bị ô nhiễm</h4>
                                            <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
<!-- Service Section Ending Here -->
<!-- Blog Section Start Here -->
<section class="blog-section home-3 bgc-blog padding-tb">
    
    <div class="container">
        <div class="section-header wow fadeInUp" data-wow-delay="0.3s">
            <h2>Blog phổ biến nhất của chúng tôi</h2>
            <p> Dynamically formulate fully tested catalysts for change via focused methods of empowerment Assertively extend alternative synergy and extensive web services.</p>
        </div>
        <div class="section-wrapper">
            <div class="row justify-content-center">
                @for (int i=0; i<3; i++)
                {
                    <div class="col-lg-4 col-sm-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="post-item style-2">
                            <div class="post-item-inner">
                                <div class="post-thumb">
                                    <a href="#"><img src="@Model[i].Anh" alt="lab-blog"></a>
                                </div>
                                <div class="post-content">
                                    <h5>
                                        <a href="#">
                                            @Model[i].Tieude.Substring(0, 20) ...
                                        </a>
                                    </h5>
                                    <div class="author-date">
                                        <a href="#" class="date"><i class="icofont-calendar"></i>@Model[i].Ngaydang</a>
                                        <a href="#" class="admin"><i class="icofont-ui-user"></i>@Model[i].Tk</a>
                                    </div>
                                    @if (@Model[i].Noidung.Length < 50)
                                    {
                                        <p>@Model[i].Noidung</p>
                                    }
                                    else
                                    {
                                        <p>@Model[i].Noidung.Substring(0, 50)...</p>
                                    }
                                    <div class="post-footer">
                                        <a href="/Blog/Details/@Model[i].Mablog" class="text-btn">Read More<i class="icofont-double-right"></i></a>
                                        <a href="#" class="comments"><i class="icofont-comment"></i><span>2</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                </div>
        </div>
    </div>
    
    
</section>
<!-- Blog Section Ending Here -->