@model webapp.Models.Gopy

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h1>Xóa góp ý</h1>
    <hr />
    <dl class="row card">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noidung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noidung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tinhtrang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tinhtrang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MakhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MakhNavigation.Tenkh)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Magy" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-warning">Back to List</a>
    </form>
</div>
