@model webapp.Models.Gopy

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Gopy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noidung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noidung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tinhtrang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tinhtrang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MakhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MakhNavigation.Makh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Magy">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
