@model webapp.Models.Blog

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h1>Xóa Blog</h1>
    <hr />
    <dl class="row card">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tieude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tieude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Noidung)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Noidung)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaydang)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ngaydang)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TkNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TkNavigation.Tk)
        </dd>

    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Mablog" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-warning">Back to List</a>
    </form>


</div>
